body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('sd.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-box {
  text-align: center;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#message {
  color: red;
  font-weight: bold;
}


.login-box {
  width: 300px;
  padding: 15px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  border-radius: 12px;
}

.login-box h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #333;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-box button:hover {
  background: #0056b3;
}

.login-box p {
  margin: 10px 0 0;
  padding: 0;
  color: #333;
  font-size: 14px;
}

.login-box p a {
  color: #007bff;
  text-decoration: none;
}