body {
    font-family: "Public Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
/*     background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('qw.jpg'); */
    background-image: url('qw.jpg');
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
  }

  
  
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

.bordered {
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

header, section, footer {
    padding: 20px;
    border-radius: 25px; 
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    color: #000000;
    background-color: #7bf5da;
    border-radius: 10px;
    padding: 5px;
  }

footer {
    text-align: center;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(79, 204, 131); 
}

input {
    border-radius: 5px;
}


button {
    background-color: #4CAF50; 
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; 
}


input[type="number"],
input[type="text"] {
    border: 2px solid #ccc; 
    border-radius: 5px; /* Add rounded corners */
    padding: 8px; /* Add padding */
    margin-bottom: 10px; /* Add spacing between input elements */
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: none; /* Remove outline on focus */
    border-color: #45a049; /* Change border color on focus */
}


